
/*Body Css*/
body{
    background-color: beige;
    color:rgb(41, 41, 29);
    font-family: cursive, sans-serif;
    color: rgb(20, 4, 86);
    
}

/*Header Css*/
.header{

    border-radius: 25px;
    text-align: center;
    height:auto;
    width:100%;
    background-color: lightblue;
    font-family: cursive, sans-serif;
    color: rgb(20, 4, 86);
}

/*Footer Css*/
.footer{

    border-radius: 25px;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: auto;
    text-align: center;
    color: rgb(20, 4, 86);
    background-color:lightblue;
    font-family: cursive, sans-serif;
}

/*Buttons Css*/
.choosebtns{
    background-color:antiquewhite;
}

/*Main Div Css*/
#gamespot{
    font-family: cursive, sans-serif;
    border:2px solid;
    border-radius: 25px;
    padding: 10px;
    position: absolute;
    top:30%;
    background-color: lightblue;
    text-align: center;
    width:100%;
    height:auto;
    left: 0;
    color: rgb(20, 4, 86);
}


